<section class="hacker">
<h1>Welcome <%= current_user.name %>!</h1>

<p><%= link_to "Manage Pairing Times", sessions_path %></p>
<p><%= link_to "edit profile", edit_user_registration_path %></p>
</section>
